{{ define "main" }}
<section class="{{ if .Data.Term }}category-{{lower .Data.Term}} {{ else }} bg-primary {{ end }}">
  <div class="container mb-5">
    <div class="row">
      <div class="col-12 text-center py-5 text-white">
        {{ if .Data.Term }}
        <h1>All {{humanize .Data.Term}} Articles</h1>
        {{ else }}
        <h1>All Categories</h1>
        {{end}}
      </div>
    </div>
  </div>
</section>
{{ if .Data.Term }}
<section class="articles">
  <div class="container">
    {{- partial "articles/articleList" . -}}
  </div>
</section>
{{ else }}
<section>
  <div class="container">
    <div class="row py-3 mb-5 pb-5">
      <div class="col-12 text-center mb-5">
        {{ range .Site.Data.categories.categories }}

        <a href='{{ "/categories/" | relLangURL }}{{ . | urlize }}' class="category category-{{ lower . }}">
          {{ . }}
        </a>
        
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{end}}