.footer-links li a {
  color: white;

  &:hover {
    text-decoration: none;
    color: $theme-main-color;
  }
}

.back-to-top {
  &:hover {
    opacity: 1 !important;
  }
  position: fixed;
  bottom: 30px;
  right:50px;
  border-radius:20%;
  font-size: 14px;
  color: white;
  background-color: $theme-main-color;
  font-weight: bold;
  padding: 9px;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s;
}

@media(max-width: 576px) {
  .back-to-top {
    opacity: 0.5 !important;
  }
  
}