/*------ Headers ------*/
@mixin header ($color, $center: false) {
  color: $color;
  font-weight: bold;
  font-family: $secondary-font;
  padding-top: 60px;
  @if $center {
    text-align: center;
  }

  &::after {
    background-color: $color;
    content: "";
    @if $center {
      margin: auto;
    }
    height: 2px;
    width: 20%;
    margin-top: 14px;
    display: block;
  }
}

.secondary-section-header {
  @include header($theme-secondary-color);
}

.primary-section-header-center {
  @include header($theme-main-color, true);
}

.white-section-header-center {
  @include header(white, true);
}

.black-section-header-center {
  @include header($gray-600, true);
}


/*------ Utilities ------*/
.content-spacing p {
  padding-bottom: 20px;
  font-size: 20px;
}

@media(max-width: map-get($grid-breakpoints, sm)) {
  .content-spacing p {
    padding-bottom: 20px;
    font-size: 16px;
  }
}

.gray-800 {
  color: $gray-800;
}
.gray-700 {
  color: $gray-700;
}
.gray-600 {
  color: $gray-600;
}

.cyan-color {
  color: $theme-cyan-color;
}

.primary-color {
  color: $theme-main-color;
}

.bg-work {
  background-color: #f2f2f2;
}

.twitter {
  color: $twitter;
}

.linkedn {
  color: $linkedn;
}

.github {
  color: $gray-700;
}

// Background
.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}
.bg-main-color {
  background-color: $theme-main-color;
}
.bg-secondary-color {
  background-color: $theme-secondary-color;
}
.bg-orange-color {
  background-color: $theme-orange-color;
}
.bg-red-color {
  background-color: $theme-red-color;
}
.bg-dark-color {
  background-color: $theme-dark-color;
}
.bg-primary-gradient {
  background: rgb(18,179,168);
background: linear-gradient(90deg, rgba(18,179,168,1) 35%, rgba(18,179,103,1) 82%);
}
.bg-secondary-gradient {
  background: rgb(1,111,185);
background: linear-gradient(90deg, rgba(1,111,185,1) 35%, rgba(1,53,185,1) 82%);
}
.bg-red-gradient {
  background: rgb(215,38,56);
background: linear-gradient(90deg, rgba(215,38,56,1) 35%, rgba(215,81,38,1) 82%);
}
.bg-dark-gradient {
  background: rgb(20,15,45);
background: linear-gradient(90deg, rgba(20,15,45,1) 35%, rgba(42,15,45,1) 82%);
}
.bg-orange-gradient {
  background: rgb(244,157,55);
background: linear-gradient(90deg, rgba(244,157,55,1) 35%, rgba(244,110,55,1) 82%);
}