<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta content="en_US" property="og:locale">
  <meta name="description" content="{{ $.Site.Params.description }}"/>
  <meta name="keywords" content="portfolio, web developer, full stack developer, design, html templates, web apps"/>
  <meta content="{{ $.Site.Title }}" property="og:site_name">
  <meta content="{{ $.Site.Title }}" property="og:title">
  <meta content="{{ $.Site.BaseURL }}/images/update.svg" property="og:image">
  <meta content="{{ $.Site.Params.description }}" name="og:description">
  <meta content="{{ $.Site.Params.email }}" property="og:email">
  <meta content="website" property="og:type">
  <meta content="{{ $.Site.BaseURL }}" property="og:url">
  <meta name="theme-color" content="{{ $.Site.Params.themeColor }}">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
  <link rel="shortcut icon" type="image/x-icon" href="{{ $.Site.Params.favicon }}">
  <!-- <link href="/manifest.json" rel="manifest"> -->
  <title>{{ $.Site.Title }}</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">

  <!-- Dev Icons -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <!-- Add the slick-theme.css if you want default styling -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css"/>
  <!-- Add the slick-theme.css if you want default styling -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"/>
  <!-- FontAwesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>

</head>
<body>
{{- partial "nav" . -}}

{{- block "main" . -}}
{{ end }}

{{- partial "footer" . }}
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/bootstrap.bundle.min.js
"></script>
{{- block "scripts" . -}}
{{ end }}

</body>
</html>