{{ define "meta-data" }}
<meta name="description" content="{{ $.Site.Params.description }}"/>
  <meta name="keywords" content="TJ articles"/>
  <meta content="{{ $.Site.Title }}" property="og:site_name">
  <meta content="{{ $.Site.Title }}" property="og:title">
  <meta content="{{ $.Site.BaseURL }}/images/world.jpg" property="og:image">
  <meta content="{{ $.Site.Params.description }}" name="og:description">
  <meta content="website" property="og:type">
  <meta content="{{ $.Site.BaseURL }}" property="og:url">
  <title>{{ $.Site.Title }}</title>
{{ end }}

{{ define "main" }}
<section class="bg-img" style="background-image: url('./../images/world.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-12 header-body text-light py-5 text-center">
        <h1 class="header-title">Learning, Creating, and Sharing!</h1>
        <h4 class="header-subtitle">Documenting my journey <br/> as a software developer</h4>
      </div>
    </div>
  </div>
</section>

<section class="articles">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center pt-5 mt-4 pb-4">
        <h1>Recent Articles</h1>
      </div>
    </div>
    {{- partial "articles/articleList" . -}}
  </div>
</section>
{{end}}