{{ define "meta-data" }}
<meta name="description" content="{{ .Description }}"/>
<meta name="keywords" content='{{ delimit .Keywords ", " }}'/>
<meta content="{{ .Site.Title }}" property="og:site_name">
<meta content="{{ .Title }}| {{ .Site.Title }}" property="og:title">
<meta content="{{ .Site.BaseURL }}{{ if .Params.haveImage }}{{ .Params.mainImage }} {{ else }}/images/world.jpg {{ end }}" property="og:image">
<meta content="{{ .Description }}" name="og:description">
<meta content="{{ .Permalink }}" property="og:url">

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ .Title }}| {{ .Site.Title }}" />
<meta name="twitter:description" content="{{ .Description }}" />
<meta property="twitter:image" content="{{ .Site.BaseURL }}{{ if .Params.haveImage }}{{ .Params.mainImage }} {{ else }}/images/world.jpg {{ end }}"/>
<meta name="twitter:creator" content="@TJGore3">

<link rel="canonical" href="{{ .Permalink }}">
<title>{{ .Title }} | {{ .Site.Title }}</title>
{{ end }}

{{ define "main" }}
<main class="single-article">
  <div class="container">
    <div class="row">
      {{ if in .Params.categories "Series"}}
      {{- partial "articles/header" . -}}
      <div class="col-12 col-md-8 py-5 article-body">
        {{.Content}}
      </div>
      <div class="col-md-4 col-12 mt-5 pt-5">
        <div class="shadow p-4 rounded sticky-top mb-5">
          <h5>{{ .Params.seriesTitle }}</h5>
          <hr/>
          
    
          <ul class="text-secondary list-unstyled">
              {{ range .Params.series }}
              {{range $index, $element := . }}
              {{ if eq $element.url "active" }}
              <li class="bg-primary p-2 rounded">
                <a href='#' class="text-white block ml-4">
                  {{ $element.name | humanize }} 
                </a>
              </li>
              {{ else }}
              <li class=" p-2">
                <a href='{{ "/articles/" | relLangURL }}{{ $element.url | urlize }}' class="text-secondary block ml-4">
                  {{ $element.name | humanize }} 
                </a>
              </li>
              {{ end }}
              {{ end }}
              {{end}}
          </ul>
          
          
        </div>
      </div>
      {{ else }}
      {{- partial "articles/header" . -}}
      <div class="col-12 col-md-8 offset-md-2 py-5 article-body">
          <h2>Table of Contents</h2>
          {{ .TableOfContents }}
        {{.Content}}
      </div>
      {{ end }}
    </div>
    {{ if in .Params.categories "Series"}}
    <div class="row">
      <div class="col-12 my-5 py-4">
          <div class="row">

          {{ range .Params.series }}
          
          {{ range $index, $element := . }}
  
            {{ if $element.last }}
              <div class="col-12 col-md-6 p-4 border">
                  <a href='{{ "/articles/" | relLangURL }}{{ $element.url | urlize }}' class="block">
                  <h5 class="text-dark">Previous Article</h5>
                    <p class="font-weight-light ">{{ $element.name | humanize }} </p> 
                  </a>
              </div>

              {{ else if $element.next }}
              <div class="col-12 col-md-6 p-4 border">
                  <a href='{{ "/articles/" | relLangURL }}{{ $element.url | urlize }}' class="block">
                  <h5 class="text-dark">Next Article</h5>
                    <p class="font-weight-light ">{{ $element.name | humanize }} </p> 
                  </a>
              </div>
            {{ end }}

          {{ end}}

          {{ end }}
        </div>

      </div>
    </div>
    {{ end }}
  </div>
</main>
{{end}}