{{ define "meta-data" }}
<meta name="description" content="{{ .Description }}"/>
<meta name="keywords" content='{{ delimit .Keywords ", " }}'/>
<meta content="{{ .Site.Title }}" property="og:site_name">
<meta content="{{ .Title }}| {{ .Site.Title }}" property="og:title">
<meta content="{{ .Site.BaseURL }}{{ if .Params.haveImage }}{{ .Params.mainImage }} {{ else }}/images/world.jpg {{ end }}" property="og:image">
<meta content="{{ .Description }}" name="og:description">
<meta content="{{ .Permalink }}" property="og:url">
<meta property="twitter:image" content="{{ .Site.BaseURL }}{{ if .Params.haveImage }}{{ .Params.mainImage }} {{ else }}/images/world.jpg {{ end }}"/>
<meta name="twitter:creator" content="@TJGore3">
<link rel="canonical" href="{{ .Permalink }}">
<title>{{ .Title }} | {{ .Site.Title }}</title>
{{ end }}

{{ define "main" }}
<main class="single-article">
  <div class="container">
    <div class="row">
      {{- partial "articles/header" . -}}
      <div class="col-12 col-md-8 offset-md-2 py-5 article-body">
          <h2>Table of Contents</h2>
          {{ .TableOfContents }}
        {{.Content}}
      </div>
    </div>
  </div>
</main>
{{end}}