{{ range $index, $page := .Pages }}
    {{if or (eq 0 $index) (eq 0 (mod $index  2)) }}
    <div class="d-flex flex-md-row flex-column justify-content-center">
    {{ end }}
      {{ if .Params.haveImage }}
      <article class="card bg-card" style="background-image: url('{{ .Params.mainImage }}');">
        <a href="{{.Permalink}}">
          <div class="card-inner article-overlay">
            {{ range .Params.categories }}
            <a href='{{ "/categories/" | relLangURL }}{{ . | urlize }}' class="badge category-{{lower .}}">
              {{.}} 
            </a>
            {{ end }}
            <a href="{{.Permalink}}">
              <div class="text-white">
                  <h2 class="h3 pt-2 font-weight-bold">{{ .Title }}</h2>
                  <p class="mb-2">{{ .Params.description }}</p>
              </div>
            </a>
            <p class="small pt-2">
              <i class="far fa-calendar-alt"></i>
              {{ .Date.Format "Jan 02, 2006" }}  &nbsp;
            </p>
          </div>
      </article> 
      {{ else }}
      <article class="card {{.Params.color}}">
          <div class="card-inner">
            {{ range .Params.categories }}
            <a href='{{ "/categories/" | relLangURL }}{{ . | urlize }}' class="badge category-{{lower .}}">
              {{.}} 
            </a>
            {{ end }}
            <a href="{{.Permalink}}">
              <div class="text-white">
                  <h2 class="h3 pt-2 font-weight-bold">{{ .Title }}</h2>
                  <p class="mb-2">{{ .Params.description }}</p>
              </div>
            </a>
            <p class="small pt-2">
              <i class="far fa-calendar-alt"></i>
              {{ .Date.Format "Jan 02, 2006" }}  &nbsp;
            </p>
          </div>
      </article>
      {{ end }}
    {{if and (not (eq 0 $index)) (eq 1 (mod $index 2)) }}

    </div>
    {{end}}
    {{ end }}