<footer class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-12 text-white text-center py-5">
        <ul class="list-unstyled list-inline footer-links">
          <li class="list-inline-item">
            <a href="#" class=" mr-3">
              Home
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#about" class=" mr-3">
              About
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#work" class=" mr-3">
              Work
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#reviews" class=" mr-3">
              Reviews
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#contact" class=" mr-3">
              Contact
            </a>
          </li>
        </ul>
        <p class="h3 pb-2">TJ Gore</p>
        <p class="small">&copy; Copyright 
          <script type="text/javascript">
            var date = new Date()
            document.write(date.getFullYear())
          </script>
        </p>
      </div>
    </div>
  </div>
</footer>

<div id="back-to-top" class="back-to-top">
 <i class="fas fa-chevron-circle-up fa-2x"></i>
</div>