{{ define "main" }}
<section class="header">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <h4 class="mb-2">Hello everyone,</h4>
        <h1 class="header-body-main">I'm a Fullstack  <br/> Developer</h1>
        <h6 class="mb-4">Creating Clean Useful Applications for the Digital World.</h6>
        <a href="#contact" class="btn btn-theme-primary rounded-0">Contact Me</a>
      </div>
      <div class="col-md-6 col-12">
        <img src="/images/update.svg" alt="work" class="header-img"/>
      </div>
      <div class="col-12 text-center py-5 my-5" style="background-image: url('images/shape.svg');height:130px;">
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container mb-5 mt-5">
    <div class="row">
      <div id="about" class="col-12 col-md-8">
        <h1 class="secondary-section-header pb-4">I LOVE MAKING THINGS <br/> EASY!</h1>
        <p class="h4 mb-4 font-weight-bold">Hi there, I'm TJ Gore.</p>
        <div class="content-spacing gray-600">
          <p>
            I'm a Full-stack developer and I really love creating minimalistic useful online tools.
          </p>
          <p>
            I have over 3 years of work experience as a full stack developer and plan on growing even more in the years to come.
          </p>
          <p>
            I believe that technology is the closest we as people can get to having super powers. Sayings like "You don't need a factory to change the world, just open a laptop" gives me inspiration and goosebumps.
          <br/>
          <a href="#work"> Take a look at what I've built!</a>
          </p>
          <p>
           I'm hard working and love working on projects, big or small, especially when they push me to my limits. That's when the adrenalin gets going and the fun begins. 
          </p>
          <p>
           Don't be afraid to give me the challenge!
         </p>
         <p>Let's get in touch</p>
         <p class="social">
          <a href="{{ $.Site.Params.linkedin }}" target="_blank">
            <i class="fab fa-linkedin fa-2x linkedn mr-3"></i>
          </a>
          <a href="{{ $.Site.Params.github }}" target="_blank">
            <i class="fab fa-github fa-2x github mr-3"></i>
          </a>
          <a href="{{ $.Site.Params.twitter }}" target="_blank">
            <i class="fab fa-twitter fa-2x twitter mr-3"></i>
          </a>
          <a href="mailto:{{ $.Site.Params.email }}?subject=Let's talk">
            <i class="far fa-envelope fa-2x"></i>
          </a>
        </p>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <img src="images/git.svg" alt="about" class="mt-5">
    </div>
  </div>
</div>
</section>

<section>
  <div class="container py-5">
    <div class="col-12 p-0 text-center">
      <h3 class="mb-5">What I Use To Create</h3>
      <p class="font-weight-bold">Used Often</p>
    </div>
    <div class="text-center d-flex flex-wrap justify-content-around">
      <div class="dev-icon-container">
        <i class="devicon-laravel-plain colored dev-icon"></i>
        <br/>
        <p class="small">Laravel</p>
      </div>
      <div class="dev-icon-container">
        <i class="devicon-rails-plain colored dev-icon"></i>
        <br/>
        <p class="small">Rails</p>
      </div>
      <div class="dev-icon-container">
        <i class="devicon-javascript-plain colored dev-icon"></i>
        <br/>
        <p class="small">Javascript</p>
      </div>
      <div class="dev-icon-container">
        <i class="devicon-react-plain colored dev-icon"></i>
        <br/>
        <p class="small">Reactjs</p>
      </div>
      <div class="dev-icon-container">
        <i class="devicon-gulp-plain colored dev-icon"></i>
        <br/>
        <p class="small">Gulp</p>
      </div>
      <div class="dev-icon-container">
        <i class="devicon-git-plain colored dev-icon"></i>
        <br/>
        <p class="small">Git</p>
      </div>
      <div class="dev-icon-container">
        <i class="devicon-php-plain colored dev-icon"></i>
        <br/>
        <p class="small">PHP</p>
      </div>
      <div class="dev-icon-container">
        <i class="devicon-sass-plain colored dev-icon"></i>
        <br/>
        <p class="small">SASS</p>
      </div>
      <div class="dev-icon-container">
        <i class="devicon-html5-plain colored dev-icon"></i>
        <br/>
        <p class="small">HTML5</p>
      </div>
      <div class="dev-icon-container">
        <i class="devicon-bootstrap-plain colored dev-icon"></i>
        <br/>
        <p class="small">Bootstrap</p>
      </div>
      <div class="dev-icon-container">
        <i class="devicon-css3-plain colored dev-icon"></i>
        <br/>
        <p class="small">CSS3</p>
      </div>
      <div class="dev-icon-container">
        <i class="devicon-linux-plain dev-icon"></i>
        <br/>
        <p class="small">Linux</p>
      </div>
    </div>
    <div class="col-12 p-0 pt-5 text-center">
      <p class="font-weight-bold">Familiar With</p>
    </div>
    <div class="text-center d-flex flex-wrap justify-content-around">
      <div class="dev-icon-container">
        <i class="devicon-vuejs-plain colored dev-icon"></i>
        <br/>
        <p class="small">VueJS</p>
      </div>
      <div class="dev-icon-container">
        <i class="devicon-heroku-plain colored dev-icon"></i>
        <br/>
        <p class="small">Heroku</p>
      </div>
      <div class="dev-icon-container">
        <i class="devicon-docker-plain colored dev-icon"></i>
        <br/>
        <p class="small">Docker</p>
      </div>
      <div class="dev-icon-container">
        <i class="devicon-wordpress-plain colored dev-icon"></i>
        <br/>
        <p class="small">Wordpress</p>
      </div>
      <div class="dev-icon-container">
        <i class="devicon-apache-plain colored dev-icon"></i>
        <br/>
        <p class="small">Apache</p>
      </div>
      <div class="dev-icon-container">
        <i class="devicon-nginx-plain colored dev-icon"></i>
        <br/>
        <p class="small">Nginx</p>
      </div>
      <div class="dev-icon-container">
        <i class="devicon-mysql-plain colored dev-icon"></i>
        <br/>
        <p class="small">Mysql</p>
      </div>
    </div>
    <div class="col-12 p-0 pt-5 text-center">
      <p class="font-weight-bold">Coming soon</p>
    </div>
    <div class="text-center d-flex flex-wrap justify-content-around">
      <div class="dev-icon-container">
        <i class="devicon-nodejs-plain colored dev-icon"></i>
        <br/>
        <p class="small">Nodejs</p>
      </div>
      <div class="dev-icon-container">
        <i class="devicon-go-plain dev-icon"></i>
        <br/>
        <p class="small">Go</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row mb-5 py-5">
      <div class="col-12 text-center py-5" style="background-image: url('images/shape.svg');height:130px;">
      </div>
      <div class="col-12 col-md-6 mt-5 pt-5">
        <h3 class="cyan-color mt-4">Work Experience</h3>
        <hr/>
        <ul class="about-list list-unstyled">
          <li>
            APSCA: Full-Stack developer from Aug 2016 - Current
          </li>
          <li>ID4Africa: Full-Stack dev from Aug 2017 - Current</li>
          <li>Freelance Web developer Aug 2015 -  Aug 2016</li>
          <li>CIBC FirstCaribbean Int'l Bank: Transction processor from May 2012 - June 2013</li>
          <li>Antigua National Parks: Tour Guide </li>
        </ul>
      </div>
      <div class="col-12 col-md-6 mt-5 pt-5">
        <h3 class="cyan-color mt-4">Education Background</h3>
        <hr/>
        <ul class="about-list list-unstyled">
          <li>OpenClassRooms Jan 2018 - Jan 2019: Fullstack developer</li>
          <li>Hefei University of Technology 2014 - 2016: Studied Computer Software and Theory</li>
          <li>Tongji University 2013 - 2014: Chinese HSK Level 4</li>
        </ul>
      </div>
    </div>
  </div>
</section>

{{ if .Site.Data.work.enable }}
<section class="bg-work">
  <div class="container work-container">
    <div class="row">
      <div id="work" class="col-12">
        <h1 class="primary-section-header-center mb-5 pb-5">SELECTED WORK</h1>
      </div>
      <div class="col-12 mb-3">
        <h3>Client's Projects</h3>
      </div>
      {{ range .Site.Data.work.workItems }}
      {{ if eq "client" .type }}
      <div class="col-md-4 col-12 mb-5 work-card">
        <a href="{{ .URL }}" target="_blank">
          <img src="{{ .image }}" alt="{{ .alt }}" class="work-img">
        </a>
        <div class="text-center">
          <p class="pt-4 font-weight-bold mb-2">{{ .name }}</p>
          <p class="small mb-3">
            {{ .description }}
            {{ if .maintain }}
            <br/>
            <span class="font-weight-bold">Currently Maintaining</span>
            {{ end }}
          </p>
          {{ range .tech}}
          <span class="badge badge-dark">{{ . }}</span>
          {{ end }}
        </div>
      </div>
      {{ end }}
      {{ end }}
      <div class="col-12 mb-3">
        <h3>My Projects</h3>
      </div>
      {{ range .Site.Data.work.workItems }}
      {{ if eq "my" .type }}
      <div class="col-md-4 col-12 mb-5 work-card">
        <a href="{{ .URL }}" target="_blank">
          <img src="{{ .image }}" alt="{{ .alt }}" class="work-img">
        </a>
        <div class="text-center">
          <p class="pt-4 font-weight-bold mb-2">{{ .name }}</p>
          {{ range .tech }}
          <span class="badge badge-dark">{{ . }}</span>
          {{ end }}
          <a href="{{ .github }}" class="d-block" target="_blank">
            <i class="fab fa-github github"></i>
          </a>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>
{{ end }}

{{ if .Site.Data.reviews.enable }}
<section class="bg-review">
  <div class="container review-container">
    <div class="row">
      <div id="reviews" class="col-12">
        <h1 class="white-section-header-center pb-5">SEE WHAT OTHERS HAVE TO SAY</h1>
      </div>
    </div>
    <div class="row review-slick">
      {{ range .Site.Data.reviews.reviewItems }}
      <div class="col-md-12 col-sm-12 p-3">
        <div class="review-body">
          <p>
            "{{ .review }}"
          </p>
        </div>
        <div>
          <p class="review-img-container text-center">
            <img src="{{ .image }}" alt="review-1" class="review-img">
          </p>
          <div class="reviewer">
            <p class="mb-0 font-weight-bold pt-2">{{ .person }}</p>
            <p>{{ .position }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
</section>
{{ end }}

<section>
  <div class="container contact-container">
    <div class="row">
      <div id="contact" class="col-12">
        <h1 class="black-section-header-center pb-5">LET'S GET TALKING</h1>
      </div>
      <div class="col-md-6 col-12 gray-600">
        <h4 class="contact-header">Contact Me</h4>
        <p class="mb-5">
          I would be happy to hear what you have to say or even meet up to grab a coffee. Give me a shout :)
        </p>
        <ul class="list-unstyled contact-list">
          <li>
            <i class="fas fa-mobile-alt"></i> <span class="pl-3">{{ $.Site.Params.mobile }}</span>
          </li>
          <li>
            <i class="fas fa-globe-europe"></i> <span class="pl-3">{{ $.Site.Params.address }}</span>
          </li>
          <li>
            <i class="far fa-envelope "></i> <span class="pl-3">{{ $.Site.Params.email }}</span>
          </li>
        </ul>
      </div>
      <div class="col-md-6 col-12">
        <form name="contact" method="POST" data-netlify="true">
          <div class="row">
            <div class="col">
              <input type="text" name="fullname" class="form-control-2" placeholder="your name">
            </div>
            <div class="col">
              <input type="text" name="email" class="form-control-2" placeholder="email address">
            </div>
          </div>
          <div class="form-group pt-4">
            <input type="text" name="subject" class="form-control-2" placeholder="subject">
          </div>
          <div class="form-group pt-3">
            <textarea class="form-control-2" name="message" id="exampleFormControlTextarea1" placeholder="message" rows="3"></textarea>
          </div>
          <div class="col-12 p-0 pt-3">
            <input type="submit" name="submit" class="btn btn-theme-primary btn-lg font-weight-bold rounded-0">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.review-slick').slick({
      arrows: false,
      slidesToShow: 3,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 5000,
      pauseOnFocus: false,
      pauseOnHover: false,
      centerMode: true,
      centerPadding: '60px',
      responsive: [
      {
        breakpoint: 990,
        settings: {
          slidesToShow: 2,
          centerMode: true,
          centerPadding: '40px',
        }
      },
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 1,
          centerMode: true,
          centerPadding: '40px',
        }
      },
      {
        breakpoint: 480,
        settings: {
          centerMode: true,
          centerPadding: '40px',
          slidesToShow: 1
        }
      }
      ]
    });
  });

  $(document).scroll(function () {
    if($(document).scrollTop() >= 800) {
      $("#back-to-top").css({ opacity: 0.7 })
    } else {
      $("#back-to-top").css({ opacity: 0 })
    }
  })
  $("#back-to-top").click( function () {
    $("html,body").animate({ scrollTop: 0 }, "fast")
  })

  $(".mobile-navbar .navbar-nav a").click( function() {
    $(".mobile-navbar").removeClass("show")
  })
</script>
{{ end }}